<style type="text/css">
	#register-container {
		margin-top: 80px;
	}

	.form-control-feedback {
		margin-right: 10px;
	}

	.alert-info a {
		font-weight: bold;
	}
</style>
<div id="register-container" class="container">

	<form name="registerForm" method="POST" role="form" novalidate>

		<legend>Conference Registration</legend>

		<div class="row">
			<div class="col-md-3">
			
				<div class="form-group has-feedback"
					ng-class="{ 'has-success': showValidation && !registerForm.firstName.$invalid, 'has-error': showValidation && registerForm.firstName.$invalid }">
					<label for="firstName">First Name</label>
					<input type="text" ng-model="user.FirstName" required
						ng-change="populateEmail()"
						class="form-control" name="firstName" placeholder="First Name">
					<span ng-show="showValidation && !registerForm.firstName.$invalid"
						class="glyphicon glyphicon-ok form-control-feedback"></span>
					<span ng-show="showValidation && registerForm.firstName.$invalid"
						class="glyphicon glyphicon-remove form-control-feedback"></span>
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group has-feedback"
					ng-class="{ 'has-success': showValidation &&!registerForm.lastName.$invalid, 'has-error': showValidation && registerForm.lastName.$invalid }">
					<label for="lastName">Last Name</label>
					<input type="text" ng-model="user.LastName" required
						ng-change="populateEmail()"
						class="form-control" name="lastName" placeholder="Last Name">
					<span ng-show="showValidation && !registerForm.lastName.$invalid"
						class="glyphicon glyphicon-ok form-control-feedback"></span>
					<span ng-show="showValidation && registerForm.lastName.$invalid"
						class="glyphicon glyphicon-remove form-control-feedback"></span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div class="form-group has-feedback"
					ng-class="{ 'has-success': showValidation && !registerForm.email.$invalid, 'has-error': showValidation && registerForm.email.$invalid }">
					<label for="email">E-mail</label>
					<input type="email" ng-model="user.EmailAddress" required
						class="form-control" name="email" placeholder="your-email@glic.com">
					<span ng-show="showValidation && !registerForm.email.$invalid" class="glyphicon glyphicon-ok form-control-feedback"></span>
					<span ng-show="showValidation && registerForm.email.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group has-feedback"
					ng-class="{ 'has-success': showValidation && !registerForm.role.$invalid, 'has-error': showValidation && registerForm.role.$invalid }">
					<label for="role">Role</label>
					<select type="text" ng-model="user.JobTitle" required
						class="form-control" name="role" placeholder="Enter your role within Guardian">
						<option value="">Select your role</option>
						<option>Architect</option>
						<option>Business Analyst</option>
						<option>Database Administrator</option>
						<option>Developer</option>
						<option>Executive</option>
						<option>Network Engineer</option>
						<option>Project Manager</option>
						<option>System Administrator</option>
						<option>Technical Manager</option>
						<option>Test Engineer</option>
						<option>Other</option>
					</select>
					<span ng-show=" showValidation && !registerForm.role.$invalid"
						class="glyphicon glyphicon-ok form-control-feedback"></span>
					<span ng-show=" showValidation && registerForm.role.$invalid"
						class="glyphicon glyphicon-remove form-control-feedback"></span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-7">
				<div class="form-group has-feedback"
					ng-class="{ 'has-success': showValidation &&!registerForm.businessUnit.$invalid, 'has-error': showValidation && registerForm.businessUnit.$invalid }">
					<label for="businessUnit">Business Unit</label>
					<select type="text" ng-model="user.Location" required
						class="form-control" name="businessUnit" placeholder="Enter the business unit you work for">
						<option value="">Select the business unit you work for</option>
						<option>Corporate</option>
						<option>Disability</option>
						<option>Distribution</option>
						<option>Group</option>
						<option>Individual Life</option>
						<option>Investments</option>
						<option>ISD</option>
						<option>Office of the CTO</option>
						<option>Park Avensure Securities</option>
						<option>Retirement</option>
					</select>
					<span ng-show=" showValidation && !registerForm.businessUnit.$invalid"
						class="glyphicon glyphicon-ok form-control-feedback"></span>
					<span ng-show=" showValidation && registerForm.businessUnit.$invalid"
						class="glyphicon glyphicon-remove form-control-feedback"></span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-7">
				<div class="form-group">
					<label for="interests">What do you hope to get out of the conference? (Optional)</label>
					<textarea ng-model="user.Interests"
						id="interests" rows="5" class="form-control" id="interests">
					</textarea>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-7">
				<div class="alert alert-info">
					For any questions or if you experience any problems, <a href="mailto:{{contactEmail}}"">click here to contact the organizers</a>!
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-7">
				<div ng-show="showSuccess" class="alert alert-success">
					Registration successful, you should receive a confirmation e-mail shortly.
					<button ng-click="showSuccess = false" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				</div>
				<div ng-show="errorMessage" class="alert alert-danger">
					{{errorMessage}}
					<button ng-click="showSuccess = false" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-6 text-center">
				<button ng-click="registerUser(user, registerForm.$valid)"
					type="submit" class="btn btn-primary text-center">Submit</button>
			</div>
		</div>
	</form>
</div>