<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <br  class="visible-xs" />
    <h2>Guardian's First Annual Software Developer Conference!</h2>
    <h4 class="text-muted">
        7 Hanover Sq. NYC (Home Office) - Wednesday May 7th & Thursday May 8th
    </h4>
    <p>
        This conference is intended to promote best practices that are specific to developing and delivering a reliable and rich user experience across the application portfolio of Guardian Life. We hope to foster wide reaching peer communication and collaboration that will produce effieciencies captured by avoiding duplicate efforts, leveraging existing work products, and sharing lessons learned.
    </p>
    <p>
        Participation is open to all IT roles at all levels.
    </p>
  
    <strong class="text-primary">
          <i class="fa fa-comment"></i><a href="https://www.yammer.com/glic.com/#/threads/inGroup?type=in_group&feedId=4219962" target="blank"> Comments welcome in Yammer!</a>
    </strong>
    <br />
    <br />
    <p><a ui-sref="register" class="btn btn-primary btn-lg" role="button" ng-disabled="true">Register Now &raquo;</a></p>
  </div>
</div>

<div id="session-container" class="container">
	<h3>Conference Schedule</h3>
	<table class="table">
		<thead>
			<tr>
                <th></th>
				<th>Topic</th>
                <th>Speaker/Facilitator</th>
				<th>Date</th>
				<th>Time</th>						
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="session in sessions" ng-mouseover="initializeModals()">
                <td style="cursor: default">
                    <div style="cursor: pointer; font-size: 1.3em; margin-top: -3px;" data-toggle="popover" data-placement="top" data-trigger="hover"
                        data-content="{{session.Format.Description}}">
                        <i class="fa {{getFormatIcon(session.Format.Id)}}"></i> 
                    </div>
                </td>
				<td>
                    <a href class="hidden-xs hidden-sm" style="cursor: pointer; vertical-align: center;" data-placement="top" data-content="{{session.Description}}" data-toggle="popover" data-trigger="hover">{{session.Name}}</a>
                    <a href class="hidden-md hidden-lg" data-placement="top" data-content="{{session.Description}}" data-toggle="popover" data-trigger="click">{{session.Name}}</a>
                </td>
                <td>
                    <div ng-if="session.Speakers.length == 0 && session.Leaders == null">TBD</div>
                    <div ng-if="session.Speakers.length == 0 && session.Leaders">{{session.Leaders}}</div>
                    <span href ng-if="session.Speakers" style="cursor: default;" ng-repeat="speaker in session.Speakers">
                        <span ng-if="$index > 0">&</span>
                        <a href class="hidden-xs hidden-sm" style="cursor: pointer;" data-placement="top"
                            data-content="{{getSpeakerTooltipText(speaker)}}" data-toggle="popover" data-trigger="hover">
                            {{speaker.User.FirstName}} {{speaker.User.LastName}}
                        </a>
                        <a href class="hidden-md hidden-lg" data-placement="top"
                            data-content="{{getSpeakerTooltipText(speaker)}}" data-toggle="popover" data-trigger="click">
                            {{speaker.User.FirstName}} {{speaker.User.LastName}}
                        </a>
                    </span>
                </td>
				<td>{{session.StartTime | date:'MMM d'}}<span class="superscript">th</span></td>
				<td>{{session.StartTime | date:'shortTime'}} - {{session.FinishTime | date:'shortTime'}}</td>						
			</tr>
		</tbody>
	</table>	
</div>

<script type="text/javascript">
    // Temporary hack to close tooltips when something else is clicked
    $('body').on('click', function (e) {
    $('[data-toggle="popover"]').each(function () {
        //the 'is' for buttons that trigger popups
        //the 'has' for icons within a button that triggers a popup
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    });
});
</script>